h1,
h2 {
  color: #1d1f7c;
}
.buttonIn {
  width: 300px;
  position: relative;
}
input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 5px;
}
.round-button {
  border-radius: 20px;
  border: 1px solid #81cac8;
  padding: 5px 40px;
}
.card {
  border: none;
  border-radius: 1.25rem;
}
.card-text {
  margin-bottom: 30px !important;
}
.footer {
  background-color: beige;
  padding: 50px;
}
.font-size{
  font-size: 60px;
}
@media screen and (max-width: 600px) {
  .work-image {
    display: none;
  }
  .font-size{
    font-size: 2.5rem;
  }
  .card{
    margin-top: 30px;
  }
  .round-button{
    margin-top: 20px;
  }
}
